h1 {
	font-family: 'Quicksand', sans-serif;
	color: white;
	text-align: center;
}

p, .btn, .s3 {
	font-family: 'Khula', sans-serif;
	text-align: center;
	color: white;
}

.s3 {
	border: solid gray 1px;
	border-radius: 4px

}

#row {
	justify-content: center;
}

body {
	background-image: url("images/background.jpg");
}

#section {

}